player-connection-mode=Listen
player-connection-guid=482485996
player-connection-debug=0
player-connection-project-name=Ludo 2.0
player-connection-ip=192.168.1.9
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=7272957a5a7a40d3b1010bebe0cbed32
